<!DOCTYPE html>

<!-- Ниже строчка, которая указывает, что мы используем таймлиф -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>

<!-- это подобие foreach. Здесь user - временная переменная, а ${allUsers} - это контейнер,
а его имя - это ключ из контроллера. На выходе будет список имен, но в них заложена ссылка со значением id.
При нажатии будет переход на view "id". А >user< будет динамически меняться  -->
<div th:each="user : ${users}">
    <a th:href="@{/templates/users/{id} (id=${user.getId()})}" th:text="${user.getName()}">user</a>

</div>

<br/> <!--Это пустая строка, это отступ-->
<hr/> <!--Это горизонтальная линия-->

<!-- Это ссылка, при нажатии на которую будет перенаправление по адресу /users/new,
где будет форма д/создания нового юзера-->
<a th:href="@{/templates/users/new}">Создать нового пользователя</a>

</body>
</html>