<!DOCTYPE html>

<!-- Ниже строчка, которая указывает, что мы используем таймлиф -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<!-- Сюда мы переходим по ссылке из view "all" по id. Вместо VALUE будет то значение,
которое получится при вызове геттеров-->
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>

<!-- Добавим ссылку для перехода на страницу редактирования-->

<a th:href="@{/templates/users/{id}/edit (id = ${user.getId()})}">Редактировать</a>

<!-- Добавим кнопку для перехода на страницу удаления
th:action - это то, куда направляется запрос
При нажатии на кнопку "Delete" будет совершаться delete-запрос на адрес /users/{id}
-->
<form th:method="DELETE" th:action="@{/templates/users/{id} (id = ${user.getId()})}">
    <input type = "submit" value = "Удалить пользователя"/>
</form>

</body>
</html>